* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 45, 45);
}

.logo {
    position: absolute;
    width: 1280px;
    height: 250px;
    top: 10px;
    object-fit: scale-down;
}

.photo {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 450px;
}
nav{
    max-width: 100%;
    position:absolute;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 575px;
    background-color: rgba(0, 0, 0, .7);
}

nav a{
    text-decoration:none;
    color: #fff;
    width:10%;
    padding:5px 10px;
    text-align:center;
    color:#fff;
}

.texto1{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: yellow;
    position: absolute;
    margin: auto;
    padding: 5px 434px;
    display: flex;
    align-items:flex-end;
    top: 250px;
}


.texto2{
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    right: 150px;
    
}

nav a:hover{
    color: blue;
}
article {
    position: absolute;
    top: 700px;
}

h2{
    position: absolute;
    top: 500px;
    left: 250px;
}