* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(149, 160, 160);
}

.logo {
    position: relative;
    width: 150px;
    height: 150px;
    left: 980px;
    bottom: 70px;
    z-index: 1;
}

.photo {
    width: 1280px;
    height: 495px;
}

nav {
    display: block;
    width: 60px;
    position: relative;
    bottom: 50px;

}

nav a {
    display: inline-block;
    padding-bottom: 50px;
    padding-left: 30px;
}

nav a.active {
    text-decoration:none;
}
.texto1 {
    color: rgba(0, 0, 0, 0.959);
    position: absolute;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 1px;

}

.texto2 {
    position: absolute;
    color: chocolate;
    font-size: 40px;
    text-align: center;
    top: 500px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.959);
    width: 1280px;
    height: 6vh;
}

article {
    position: absolute;
    align-items: center;
    left: 280px;
    top: 580px;
}

article h3 {
    color: brown;
    position: relative;
    right: 100px;
    margin: 15px;
}

article h4 {
    position: relative;
    bottom: 15px;
    right: 30px;
}

article p {
    position: relative;
    right: 50px;
    bottom: 10px;
}

.contact {
    position: absolute;
    padding: 10px;
    left: 200px;
    top: 590px;
}

span {
    position: relative;
    top: 50px;
}